<label id="upload-file-info"></label> 
<div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-978694"> 
  <div class="form-group"> 
    <label for="textAreaTemplate">Content File:</label> 
    <textarea id="textArea2138" ng-model="vars.textarea2138" maxlength="300" style="resize:none;" resize="none" class="form-control" rows="5"></textarea> 
  </div> 
</div> 
<button class="btn component-holder btn-lg btn-primary" type="submit" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.UploadFile:upload', null, null)" xattr-size="btn-lg" xattr-fullsize="" xattr-theme="btn-primary" data-component="crn-button" id="crn-button-671093"><i class="glyphicon glyphicon-arrow-up"></i> <span>Upload</span></button>